
{% extends 'layout.html' %}
{% block content %}
   <div>
    <div class="container">
        <div style="margin-bottom: 10px">
      <!--在a标签添加target="_blank"指的是当点击a标签跳转页面是在新页面打开-->
              <a class="btn btn-success" href="/user_add/" >
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
               新建用户
              </a>
            <a class="btn btn-success" href="/user_model_form_add/" >
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
               基于modelform新建用户
              </a>
        </div>

   <!--<div class="bs-example" data-example-id="panel-without-body-with-table"-->
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">

          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>

        用户列表</div>


      <!-- Table -->
      <table class="table table-bordered">
        <thead>
          <tr>

              <th>ID</th>
              <th>姓名</th>
              <th>密码</th>
              <th>年龄</th>
              <th>余额</th>
              <th>入职时间</th>
              <th>所属部门</th>
              <th>性别 </th>
              <th>操作</th>





          </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
            <tr>
                <th>{{obj.id}}</th>
                <td>{{obj.name}}</td>
                <td>{{obj.password}}</td>
                <td>{{obj.age}}</td>
                <td>{{obj.account}}</td>
                <td>{{obj.create_time}}</td>
                <td>{{obj.depart_id}}</td>
                <td>{{obj.gender}}</td>



                <td>
                  <!--编辑页面跳转到编辑页面保存保留原来数据时，可以通过正则表达式进行传参数，
                  通过获取ID数据-->
                <a class="btn btn-primary btn-xs" href="/user/{{obj.id}}/edit/">编辑</a>
                <a class="btn btn-danger btn-xs" href="/user/{{obj.id}}/delete/">删除</a>
              </td>

            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  </div>
</div>

{% endblock %}





























